@import "tailwindcss";

@theme {
  --font-sans: Inter, sans-serif;
  --font-heading: Inter, sans-serif;
  --font-mono: "Fira Code", monospace;

  --font-base: 1rem;

  --color-*: initial;

  --color-white: #ffffff;

  --color-orange-700: #59301d;
  --color-orange-600: #652100;
  --color-orange-500: #b03900;
  --color-orange-400: #fc5200;
  --color-orange-350: #ec6a2b;
  --color-orange-300: #fd864d;
  --color-orange-200: #feba99;
  --color-orange-100: #fff4ef;

  --color-beige-500: #ffcca8;
  --color-beige-400: #ffeadb;
  --color-beige-300: #fff0e6;
  --color-beige-200: #fff7f1;
  --color-beige-100: #fffdfb;

  --color-black-300: #020404;
  --color-black-200: #0d171c;
  --color-black-100: #13222a;

  --color-gray-600: #384341;
  --color-gray-500: #546461;
  --color-gray-400: #7c928f;
  --color-gray-300: #98a9a7;
  --color-gray-200: #b4c0be;
  --color-gray-100: #cfd7d6;

  --color-silver-500: #c7cfce;
  --color-silver-400: #e7e9e9;
  --color-silver-300: #f2f4f4;
  --color-silver-200: #f7f9f9;
  --color-silver-100: #fdfdfd;

  --color-blue-600: #0d3352;
  --color-blue-500: #00417d;
  --color-blue-400: #005aaf;
  --color-blue-300: #0081fa;
  --color-blue-200: #7dc0ff;
  --color-blue-100: #e5f2ff;

  --color-navy-500: #15252d;
  --color-navy-450: #182c35;
  --color-navy-400: #254250;
  --color-navy-300: #365e72;
  --color-navy-200: #467b95;
  --color-navy-100: #5c95b2;

  --color-red-600: #4d282c;
  --color-red-500: #822727;
  --color-red-400: #bf2e2a;
  --color-red-300: #db4d48;
  --color-red-250: #e06f6b;
  --color-red-200: #feb2b2;
  --color-red-100: #fff5f5;

  --color-yellow-600: #283022;
  --color-yellow-500: #7d6800;
  --color-yellow-400: #af9200;
  --color-yellow-300: #fad000;
  --color-yellow-200: #ffe97d;
  --color-yellow-100: #fffbe5;

  --color-green-600: #183130;
  --color-green-500: #22543d;
  --color-green-400: #25855a;
  --color-green-300: #00fab3;
  --color-green-200: #9ae6b4;
  --color-green-100: #f0fff4;

  --color-purple-600: #321859;
  --color-purple-500: #310050;
  --color-purple-400: #56008b;
  --color-purple-300: #7b00c7;
  --color-purple-200: #c363ff;
  --color-purple-100: #f3e0ff;

  --bg-base-input: var(--color-silver-100);
  --bg-dark-input: var(--color-navy-450);
  --bg-base-primary: var(--color-silver-100);
  --bg-dark-primary: var(--color-black-100);
  --bg-base-secondary: var(--color-silver-300);
  --bg-dark-secondary: var(--color-black-200);

  --bg-base-button-primary: var(--color-navy-400);
  --bg-dark-button-primary: var(--color-navy-200);
  --bg-base-button-primary-hover: var(--color-navy-500);
  --bg-dark-button-primary-hover: var(--color-navy-300);
  --bg-base-button-secondary: var(--color-silver-100);
  --bg-dark-button-secondary: var(--color-black-100);
  --bg-base-button-secondary-hover: var(--color-silver-300);
  --bg-dark-button-secondary-hover: var(--color-black-300);

  --border-base-focused: var(--color-blue-400);
  --border-dark-focused: var(--color-blue-200);
  --border-base-primary: var(--color-silver-400);
  --border-dark-primary: var(--color-navy-400);
  --border-base-primary-hover: var(--color-gray-300);
  --border-dark-primary-hover: var(--color-navy-300);

  --text-color-base-heading: var(--color-navy-500);
  --text-color-dark-heading: var(--color-silver-200);
  --text-color-base-neutral: var(--color-gray-600);
  --text-color-dark-neutral: var(--color-gray-100);
  --text-color-base-placeholder: var(--color-gray-500);
  --text-color-dark-placeholder: var(--color-gray-300);
  --text-color-base-primary: var(--color-gray-600);
  --text-color-dark-primary: var(--color-silver-500);
  --text-color-base-secondary: var(--color-gray-500);
  --text-color-dark-secondary: var(--color-gray-300);
}

@utility bg-* {
  background-color: --value(--bg-base-*);

  @variant dark {
    /* prettier-ignore */
    background-color: --value(--bg-dark-*);
  }
}

@utility border-* {
  border-color: --value(--border-base-*);

  @variant dark {
    /* prettier-ignore */
    border-color: --value(--border-dark-*);
  }
}

@utility text-* {
  color: --value(--text-color-base-*);

  @variant dark {
    /* prettier-ignore */
    color: --value(--text-color-dark-*);
  }
}

@layer base {
  :root {
    color-scheme: light dark;
  }

  body {
    @apply min-h-dvh;
    @apply bg-primary;
    @apply font-sans!;
    @apply text-primary;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-heading;
  }

  button {
    @apply cursor-pointer;
  }

  input::placeholder {
    @apply text-placeholder;
  }
}
